#header {
    background-color: #042445;
    padding: 20px 0;
}

#header a img {
    width: 35%;
    height: auto;
}

a#homepage-btn  {
    color:#fff;
    text-decoration: none;
    width: 200px;
    height: 40px;
    font-size: 20px;
    float: right;
    align-items: flex-end;
    
}

a#homepage-btn:hover {
    color:#f5eb0d;
}

@media screen and (min-width: 700px) {
    a#homepage-btn {
        display: flex;
    }
}